<head>
  <meta charset="utf-8">
  <meta name="author" content="pxdraft">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="keywords" content="coffee truck, mobile coffee, coffee on wheels, espresso, americano, latte, cappuccino, mocha, macchiato, affogato, drip coffee, cold brew, iced coffee, music-themed coffee, unique coffee experience, sustainable coffee sourcing, coffee events">
  <meta name="description" content="{{ site.description }}">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"><!-- CSS Template -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KC4QXC64PV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KC4QXC64PV');
</script>
