<section class="bg-center bg-cover bg-no-repeat position-relative" style="background-image: url(/assets/slider.jpg)">
  <div class="position-absolute top-0 start-0 end-0 bottom-0 bg-black bg-opacity-60 pe-none"></div>
  <div class="container position-relative">
    <div class="row min-vh-100 align-items-center justify-content-center section">
      <div class="col-lg-7 text-center pt-10">
        <h1 class="display-2 text-white mb-4">Come Roast n' Roll with us</h1>
        <p class="fs-lg text-white text-opacity-85">
          Experience the thrill of coffee like never before! At Roast n' Roll, we are passionate about two things: 
          exceptional coffee and unforgettable experiences. Our coffee truck is not just about serving a great cup
          of joe; it's about igniting your taste buds and fueling your sense of adventure.
        </p>
      </div>
    </div>
  </div>
</section>