<!doctype html>

{% include head.html %}

<body>
  <a id="skippy" class="skippy visually-hidden-focusable overflow-hidden" href="#content">
    <div class="container"><span class="u-skiplink-text">Skip to main content</span></div>
  </a>

  <div id="loading" class="loading-preloader bg-dark">
    <div class="loading-preloader-in">
      <div class="spinner-03"><span class="text-primary"></span></div>
    </div>
  </div>

  <div class="wrapper" id="home">
    {% include header.html %}
    <main>
      {% include slider.html %}

      {% include menu.html %}

      <section class="section bg-fixed bg-no-repeat bg-center bg-cover" style="background-image: url(assets/background-unsplash.jpg);">
        <div class="container">
          <div class="row justify-content-center section-heading">
            <div class="col-lg-6 text-center">
              <h6 class="text-white">DECADENT RECEPIES OR CLASSICS WIHT A TWIST</h6>
              <h2 class="text-white display-4">Roast n' Roll Especials</h2>
            </div>
          </div>
          <div class="row gy-4">
            <div class="col-sm-6 col-lg-3">
              <div class="bg-black bg-opacity-20 p-4 blur-lg fixed-height-col">
                <div class="icon-lg bg-primary bg-opacity-70 blur-md text-white mb-5 rounded">
                  <img src="assets/Icon_RnR_MrsEva.png" alt="AFFOGATO" width="48" height="48">
                </div>
                <h5 class="h5 text-white">MRS. EVA</h5>
                <p class="fs-lg text-white text-opacity-75">
                  Crafted with the rich intensity of espresso and a touch of boldness from evaporated milk, this “cortadito” is an ode to depth and contrast.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="bg-black bg-opacity-20 p-4 blur-lg fixed-height-col">
                <div class="icon-lg bg-primary bg-opacity-70 blur-md text-white mb-5 rounded">
                  <img src="assets/Icon_RnR_CafeBombon.png" alt="AFFOGATO" width="48" height="48">
                </div>
                <h5 class="h5 text-white">CAFE BOMBON</h5>
                <p class="fs-lg text-white text-opacity-75">
                  Café Bombón, a harmonious fusion of bold and sweet, artfully combines a single shot of robust espresso with a velvety embrace of condensed milk.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="bg-black bg-opacity-20 p-4 blur-lg fixed-height-col">
                <div class="icon-lg bg-primary bg-opacity-70 blur-md text-white mb-5 rounded">
                  <img src="assets/Icon_RnR_CafeTresLeches.png" alt="AFFOGATO" width="48" height="48">
                </div>
                <h5 class="h5 text-white">CAFE TRES LECHES</h5>
                <p class="fs-lg text-white text-opacity-75">
                  Introducing Café Tres Leches Latte, a masterpiece born from a blend of flavors that celebrate both the coffee and dessert realms.
                </p>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="bg-black bg-opacity-20 p-4 blur-lg fixed-height-col">
                <div class="icon-lg bg-primary bg-opacity-70 blur-md text-white mb-5 rounded">
                  <img src="assets/Icon_RnR_Affogato.png" alt="AFFOGATO" width="48" height="48">
                </div>
                <h5 class="h5 text-white">Rn'R AFFOGATO</h5>
                <p class="fs-lg text-white text-opacity-75">
                  A thrilling twist on the timeless classic. Delightful creation; starts with a shot of robust espresso poured lovingly over a scoop of velvety vanilla ice cream.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% include contact_us.html %}

    {% include footer.html %}
  </div>

  {% include js.html %}
</body>

</html>